<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{article.title}}</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="../static/css/style.css" />

  <link
    type="image/x-icon"
    href="../static/img/favicon.ico"
    rel="shortcut icon"
  />
  <link type="Image/x-icon" href="../static/img/favicon.ico" rel="icon" />

</head>
<body>
   
{{ ckeditor.load() }}
<div style="background-color:#f8e6d0" ;>
    <div class="header">
        <div class="head-wrp-base">
          <div class="container" bis_skin_checked="1">
            <header class="d-flex flex-wrap align-items-center py-4">
              <a
                href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none main-logo"
              >
                <img src="../static/img/logo.svg" alt="" />
                <span class="logo-text"
                  >Mind <br />
                  Matters</span
                >
              </a>
  
              <ul class="nav nav-pills nav-links">
                <li class="nav-item">
                  <a href="/" class="nav-link first-link">Главная</a>
                </li>
                <li class="nav-item">
                  <a href="/tests" class="nav-link">Тесты</a>
                </li>
                <li class="nav-item">
                  <a href="/articles" class="nav-link">Статьи</a>
                </li>
                {%if 'name' in session%}
                <li class="nav-item">
                  <a href="/profile" class="nav-link auth">Профиль</a>
                </li>
                <li class="nav-item">
                  <a href="/logout" class="nav-link auth">Выйти</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a href="/auth" class="nav-link auth">Войти</a>
                </li>
  
                {%endif%}
              </ul>
  
              <div class="dropdown">
                <button
                  class="burger-open"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img src="../static/img/menu.svg" alt="" />
                </button>
                <ul class="dropdown-menu drop-menu">
                  <li><a class="dropdown-item" href="/">Главная</a></li>
                  <li><a class="dropdown-item" href="/tests">Тесты</a></li>
                  <li><a class="dropdown-item" href="/articles">Статьи</a></li>
                  {%if 'name' in session%}
                  <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                  {% else %}
                  <li><a class="dropdown-item" href="/auth">Войти</a></li>
  
                  {%endif%}
                </ul>
              </div>
            </header>
          </div>
        </div>
      </div>

    <div class="container">

        {%if 'name' in session and active_user.root==1%}
        <div class="d-flex justify-content-end">
            <div class="my-3 d-flex justify-content-between align-items-center">
                <div>
                    <button type="button" class="btn change-btn mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Изменить
                    </button>
                    <a href="/delete-article/{{article.id}}" class="btn delete-btn mb-3">Удалить</a>
                </div>
                {%if article.root==0%}
                <div class="d-flex align-items-center">
    
                    <p class="mx-3">Это статья предложена пользователем</p>
                    <a href="/add-offer/{{article.id}}"  class="btn btn-success mb-3">Опубликовать для всех</a>
                </div>
                {%endif%}
            </div>
        </div>
      
        {%endif%}


        {% with messages = get_flashed_messages(True) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="m-2 flash {{category}}">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Изменить</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Название</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" name="title" value="{{article.title}}" required>
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Категория</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" name="category" value="{{article.category}}" required>
                            </div>

                            <div class="mb-3">
                                <label for="disabledSelect" class="form-label">Цвет</label>
                                <select id="disabledSelect" class="form-select" name="color">
                                    <option value="#FA7B04">#FA7B04</option>
                                    <option value="#EBD1B0">#EBD1B0</option>
                                    <option value="#40C5C0">#40C5C0</option>
                                    <option value="#EE999A">#EE999A</option>
                                    <option value="#26BB6B">#26BB6B</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Описание</label>
                                {{ ckeditor.create(value=article.text) }}
                            </div>
                            <div class="form-group my-3">
                                <label for="exampleFormControlFile1">Изображение</label> <br>
                                <input type="file" class="form-control-file form-control-sm"
                                    id="exampleFormControlFile1" name="image">
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="stn-btn px-2 py-2" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="stn-btn px-2 py-2">Изменить</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="article-content py-2">

            {%if article.image_name%}
            <div class=" d-flex align-items-center mb-5 justify-content-between article-head">
                <div class="image">
                    <img src="../static/img/upload/{{article.image_name}}" class="image-fluid" width="100%" alt="">
                </div>
                <div class="title mx-5">
                    <h1>{{article.title}}</h1>
                </div>
            </div>
            {%else%}
            <div class="title">
                <h1>{{article.title}}</h1>
            </div>
            {%endif%}

            <div class="text mb-5">

                {% autoescape false %}
                {{article.text}}
                {% endautoescape %}

            </div>
        </div>
    </div>
</div> 
<footer>
    <div class="container">
      <div class="big-footer">
        <div class="d-flex justify-content-evenly align-items-center py-4">
          <a
            href="#"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none"
          >
            <img src="../static/img/footer.svg" alt="" />
            <span class="logo-text-footer"
              >Mind <br />
              Matters</span
            >
          </a>

          <ul class="nav nav-pills nav-links-footer">
            <li class="nav-item">
              <a href="/" class="nav-link first-link">Главная</a>
            </li>
            <li class="nav-item">
              <a href="/tests" class="nav-link">Тесты</a>
            </li>
            <li class="nav-item">
              <a href="/articles" class="nav-link">Статьи</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="mini-footer">
        <ul class="nav nav-pills nav-links-footer mx-auto">
          <li class="nav-item">
            <a href="/" class="nav-link first-link">Главная</a>
          </li>
          <li class="nav-item">
            <a href="/tests" class="nav-link">Тесты</a>
          </li>
          <li class="nav-item">
            <a href="/articles" class="nav-link">Статьи</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</body>
</html>

