{% extends 'base.html' %}
{% block title %}
Профиль
{% endblock %}

{% block main %}
{{ ckeditor.load() }}
<div class="container my-5">
  {% with messages = get_flashed_messages(True) %}
  {% if messages %}
  {% for category, message in messages %}
  <p class="m-2 flash {{category}}">{{message}}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col">
      <h1>Профиль{%if active_user.root==1%}(администратор){%else%}(пользователь){%endif%}</h1>
    </div>
    {%if active_user.root==1%}
    <div class="col text-end">
      <a href="/admin" class="btn btn-primary">Перейти в панель администратора</a>
    </div>

    {%else%}
    <div class="col text-end">
      <button type="button" class="btn btn-dark mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal111">
        Предложить статью
      </button>
    </div>
    <div class="modal fade" id="exampleModal111" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Предложить статью</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" enctype="multipart/form-data" action="/offer">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Название</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="title" value="" required>
              </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Категория</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  name="category" value="" required>
              </div>

              <div class="mb-3">
                <label for="disabledSelect" class="form-label">Цвет</label>
                <select id="disabledSelect" class="form-select" name="color">
                  <option value="#FA7B04">#FA7B04</option>
                  <option value="#EBD1B0">#EBD1B0</option>
                  <option value="#40C5C0">#40C5C0</option>
                  <option value="#EE999A">#EE999A</option>
                  <option value="#26BB6B">#26BB6B</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">Описание</label>
                {{ ckeditor.create() }}
              </div>
              <div class="form-group my-3">
                <label for="exampleFormControlFile1">Изображение</label> <br>
                <input type="file" class="form-control-file form-control-sm" id="exampleFormControlFile1" name="image">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Предложить</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    {%endif%}
  </div>

  <table class="table my-5">
    <thead>
      <tr>
        <th scope="col">Дата и время</th>
        <th scope="col">Тест</th>
        <th scope="col">Результат</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {%for el1, el2, el3 in zip(rezult_test_list,rezult,interpretation_list)%}
      <tr>
        <th>{{el2.date.strftime('%d.%m.%Y %H:%M')}}</th>
        <td><a href="/test/{{el1.id}}">{{el1.title}}</a></td>
        <td>{{el2.total_score}} баллов</td>
        <td><button class="btn btn-outline-primary" data-bs-toggle="modal"
            data-bs-target="#exampleModal{{el3.id}}">Просмотреть интерпретацию</button> </td>

        <div class="modal fade" id="exampleModal{{el3.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Интерпретация</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% autoescape false %}
                {{el3.text}}
                {% endautoescape %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              </div>
            </div>
          </div>
        </div>

      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

{%if active_user.root==1%}
<div class="container">
  <div class="articles-wrap">
    <h1>Предложеные статьи</h1>
    <div class="articles-grid">
      {%if articles%}
      {%for article in articles%}
      {%if article.root==0%}
      <div class="article" style="background-color: {{article.color}};">
        <a href="/article/{{article.id}}"> <img src="../static/img/upload/{{article.image_name}}" alt="" class="img-fluid"></a>
        <p><a href="/article/{{article.id}}">{{article.title}}</a></p>
      </div>
      {%endif%}
      {%endfor%}
      {%else%}
      <h1>Не найдено!</h1>
      {%endif%}
    </div>

    <div class="articles-mobile">
      {%for article in articles%}
      {%if article.root==0%}
      <div class="row article-mobile" style="background-color: {{article.color}};">
        <p><a href="/article/{{article.id}}">{{article.title}}</a></p>
        <a href="/article/{{article.id}}"> <img src="../static/img/upload/{{article.image_name}}" alt=""
            class="img-fluid"></a>
      </div>
      {%endif%}
      {%endfor%}
    </div>
  </div>
</div>
{%endif%}

{% endblock %}